# Industrial Data Science Training 
# Project 1: Analysis of Google Play Store Apps
# Instructor: Dr Waqas Ali
This is the first project of my online data science training program. A company wants to introduce their new app on google play store. They want to know what type of app  would be most profitable. As a data scientist, my goal is to analyze the data, recommend the best category that the company should pick for their new app. The data consist of 10841 rows and 13 columns.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#Get the dataset
dataset= pd.read_csv("googleplaystore.csv")

In [3]:
#Show the first five rows of the data to see how our data looks like 
dataset.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [4]:
#shape and info of the data
print("Shape: ",dataset.shape)
print(dataset.info())

Shape:  (10841, 13)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB
None

In [5]:
#Discussion on Kaggle showed that row 10472 has incorrect data. Lets check it and if incorrect, remove it for now.
dataset.iloc[10472]

App               Life Made WI-Fi Touchscreen Photo Frame
Category                                              1.9
Rating                                                 19
Reviews                                              3.0M
Size                                               1,000+
Installs                                             Free
Type                                                    0
Price                                            Everyone
Content Rating                                        NaN
Genres                                  February 11, 2018
Last Updated                                       1.0.19
Current Ver                                    4.0 and up
Android Ver                                           NaN
Name: 10472, dtype: object

In [6]:
#delete the row for now. we can also fill it if we want. 
#dataset = dataset.drop(10472,axis =0), 1 method to delete the row
dataset.drop(10472, axis =0 , inplace = True)

In [7]:
#iloc uses the index present at the backend while loc uses the front end index
print(dataset.loc[10473])
print(dataset.iloc[10472])

App               osmino Wi-Fi: free WiFi
Category                            TOOLS
Rating                                4.2
Reviews                            134203
Size                                 4.1M
Installs                      10,000,000+
Type                                 Free
Price                                   0
Content Rating                   Everyone
Genres                              Tools
Last Updated               August 7, 2018
Current Ver                       6.06.14
Android Ver                    4.4 and up
Name: 10473, dtype: object
App               osmino Wi-Fi: free WiFi
Category                            TOOLS
Rating                                4.2
Reviews                            134203
Size                                 4.1M
Installs                      10,000,000+
Type                                 Free
Price                                   0
Content Rating                   Everyone
Genres                              Tools
Last Updated               August 7, 2018
Current Ver                       6.06.14
Android Ver                    4.4 and up
Name: 10473, dtype: object

In [8]:
#Now lets check out for the duplicated values in the dataset
dataset.duplicated(['App']).sum()

1181

In [9]:
duplicates = dataset.duplicated(['App'])
dataset[duplicates]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
229,Quick PDF Scanner + OCR FREE,BUSINESS,4.2,80805,Varies with device,"5,000,000+",Free,0,Everyone,Business,"February 26, 2018",Varies with device,4.0.3 and up
236,Box,BUSINESS,4.2,159872,Varies with device,"10,000,000+",Free,0,Everyone,Business,"July 31, 2018",Varies with device,Varies with device
239,Google My Business,BUSINESS,4.4,70991,Varies with device,"5,000,000+",Free,0,Everyone,Business,"July 24, 2018",2.19.0.204537701,4.4 and up
256,ZOOM Cloud Meetings,BUSINESS,4.4,31614,37M,"10,000,000+",Free,0,Everyone,Business,"July 20, 2018",4.1.28165.0716,4.0 and up
261,join.me - Simple Meetings,BUSINESS,4.0,6989,Varies with device,"1,000,000+",Free,0,Everyone,Business,"July 16, 2018",4.3.0.508,4.4 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10715,FarmersOnly Dating,DATING,3.0,1145,1.4M,"100,000+",Free,0,Mature 17+,Dating,"February 25, 2016",2.2,4.0 and up
10720,Firefox Focus: The privacy browser,COMMUNICATION,4.4,36981,4.0M,"1,000,000+",Free,0,Everyone,Communication,"July 6, 2018",5.2,5.0 and up
10730,FP Notebook,MEDICAL,4.5,410,60M,"50,000+",Free,0,Everyone,Medical,"March 24, 2018",2.1.0.372,4.4 and up
10753,Slickdeals: Coupons & Shopping,SHOPPING,4.5,33599,12M,"1,000,000+",Free,0,Everyone,Shopping,"July 30, 2018",3.9,4.4 and up
10768,AAFP,MEDICAL,3.8,63,24M,"10,000+",Free,0,Everyone,Medical,"June 22, 2018",2.3.1,5.0 and up

In [10]:
dataset[dataset['App']=='Instagram']

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
2545,Instagram,SOCIAL,4.5,66577313,Varies with device,"1,000,000,000+",Free,0,Teen,Social,"July 31, 2018",Varies with device,Varies with device
2604,Instagram,SOCIAL,4.5,66577446,Varies with device,"1,000,000,000+",Free,0,Teen,Social,"July 31, 2018",Varies with device,Varies with device
2611,Instagram,SOCIAL,4.5,66577313,Varies with device,"1,000,000,000+",Free,0,Teen,Social,"July 31, 2018",Varies with device,Varies with device
3909,Instagram,SOCIAL,4.5,66509917,Varies with device,"1,000,000,000+",Free,0,Teen,Social,"July 31, 2018",Varies with device,Varies with device

In [11]:
dataset['Reviews'] = dataset['Reviews'].astype(float)

In [12]:
dataset.sort_values('Reviews',ascending = False, inplace = True)

In [13]:
dataset.drop_duplicates(['App'],inplace = True)

In [14]:
dataset.shape

(9659, 13)

In [15]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9659 entries, 2544 to 5086
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             9659 non-null   object
 1   Category        9659 non-null   object
 2   Rating          8196 non-null   float64
 3   Reviews         9659 non-null   float64
 4   Size            9659 non-null   object
 5   Installs        9659 non-null   object
 6   Type            9658 non-null   object
 7   Price           9659 non-null   object
 8   Content Rating  9659 non-null   object
 9   Genres          9659 non-null   object
 10  Last Updated    9659 non-null   object
 11  Current Ver     9651 non-null   object
 12  Android Ver     9657 non-null   object
dtypes: float64(2), object(11)
memory usage: 1.0+ MB

In [16]:
#The apps that are most profitable are free so lets start with the type of the dataset 
dataset['Type'].unique()

array(['Free', 'Paid', nan], dtype=object)

In [17]:
dataset['Type'].value_counts(dropna = False)

Free    8904
Paid     754
NaN        1
Name: Type, dtype: int64

In [18]:
dataset = dataset[dataset["Type"] == "Free"]

In [19]:
dataset.shape

(8904, 13)

In [20]:
#lets lookout for the language now. we will focus on English Language apps
dataset['App'].sort_values().tail(50)

2538                                                  tökr
2640                     uCiC- Videos and Photos on demand
7366                                             usgang.ch
4707                                                v-view
6871                                van Gennip Textiles BV
1027                                     vide-greniers.org
3697                                          video player
3685                              video player for android
5658       view.com.au - Buy, Rent or Research Real Estate
5431                                      virtual lover 3D
1593                                              w UN map
7348                                              waut.ch!
3631                            weather - weather forecast
3312                          weight conversion calculator
3652                        wetter.com - Weather and Radar
8644                           wikiHow: how to do anything
4811                               yHomework - Math Solver
2758         zulily - Shop Daily Deals in Fashion and Home
5844                                            ¡Ay Metro!
9819                                            ¿Es Vegan?
3859                                            ÖBB Scotty
1081                                                 İşCep
8133                          Šmelina .cz inzeráty inzerce
7818                                   Аim Training for CS
3750                                           РИА Новости
7187                       РееI Smart Remote MP3 CD Player
9308               أحداث وحقائق | خبر عاجل في اخبار العالم
7751                                   الفاتحون Conquerors
4193                                             صور حرف H
9117                                     لعبة تقدر تربح DZ
6006                          বাংলা টিভি প্রো BD Bangla TV
9200                                             বাংলাflix
1592                သိင်္ Astrology - Min Thein Kha BayDin
3960                          ► MultiCraft ― Free Miner! 👍
5569                              【Miku AR Camera】Mikuture
321      【Ranobbe complete free】 Novelba - Free app tha...
6418                                         あなカレ【BL】無料ゲーム
9466                       パーリーゲイツ公式通販｜EJ STYLE（イージェイスタイル）
5513                                           中国語 AQリスニング
1488     乐屋网: Buying a house, selling a house, renting ...
3824     乗換NAVITIME　Timetable & Route Search in Japan T...
10109                                              哈哈姆特不EY
5698                                                日本AV历史
313                    漫咖 Comics - Manga,Novel and Stories
9222                                    英漢字典 EC Dictionary
6420                                           감성학원 BL 첫사랑
6334                               뽕티비 - 개인방송, 인터넷방송, BJ방송
2575         💘 WhatsLov: Smileys of love, stickers and GIF
7559      📏 Smart Ruler ↔️ cm/inch measuring for homework!
882       🔥 Football Wallpapers 4K | Full HD Backgrounds 😍
Name: App, dtype: object

In [21]:
#0-127 ASCII RANGE FOR ENGLISH ALPHABETS
def english(app_name):
    non_eng = 0
    for i in app_name:
        if ord(i)>127:
            non_eng+=1
    if non_eng>3:
        return False
    else:
        return True

In [22]:
english('漫咖 Comics - Manga,Novel and Stories')

True

In [23]:
english('英漢字典 EC Dictionary')

False

In [24]:
is_english = dataset['App'].apply(english)

In [25]:
english_app_count = is_english.sum()
english_app_count

8863

In [26]:
dataset_final = dataset[is_english].copy()
dataset_final.shape

(8863, 13)

In [27]:
#dataset has been cleaned now. Now it's time for the data analysis
dataset_final.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
2544,Facebook,SOCIAL,4.1,78158306.0,Varies with device,"1,000,000,000+",Free,0,Teen,Social,"August 3, 2018",Varies with device,Varies with device
381,WhatsApp Messenger,COMMUNICATION,4.4,69119316.0,Varies with device,"1,000,000,000+",Free,0,Everyone,Communication,"August 3, 2018",Varies with device,Varies with device
2604,Instagram,SOCIAL,4.5,66577446.0,Varies with device,"1,000,000,000+",Free,0,Teen,Social,"July 31, 2018",Varies with device,Varies with device
382,Messenger – Text and Video Chat for Free,COMMUNICATION,4.0,56646578.0,Varies with device,"1,000,000,000+",Free,0,Everyone,Communication,"August 1, 2018",Varies with device,Varies with device
1879,Clash of Clans,GAME,4.6,44893888.0,98M,"100,000,000+",Free,0,Everyone 10+,Strategy,"July 15, 2018",10.322.16,4.1 and up

In [28]:
#The apps we have now are free so thats why no need for Type and Price column
dataset_final.drop(['Type','Price'],axis=1,inplace=True)

In [29]:
dataset_final.shape

(8863, 11)

In [30]:
#To recommend which category is more profitable, we need to look at the number of installs.
dataset_final['Installs'] = dataset_final['Installs'].str.replace(',','').str.replace('+','').astype(int)

In [31]:
dataset_final['Category'].value_counts()

FAMILY                 1676
GAME                    861
TOOLS                   750
BUSINESS                407
LIFESTYLE               346
PRODUCTIVITY            345
FINANCE                 328
MEDICAL                 313
SPORTS                  301
PERSONALIZATION         294
COMMUNICATION           287
HEALTH_AND_FITNESS      273
PHOTOGRAPHY             261
NEWS_AND_MAGAZINES      248
SOCIAL                  236
TRAVEL_AND_LOCAL        207
SHOPPING                199
BOOKS_AND_REFERENCE     190
DATING                  165
VIDEO_PLAYERS           159
MAPS_AND_NAVIGATION     124
FOOD_AND_DRINK          110
EDUCATION               103
ENTERTAINMENT            85
LIBRARIES_AND_DEMO       83
AUTO_AND_VEHICLES        82
HOUSE_AND_HOME           73
WEATHER                  71
EVENTS                   63
PARENTING                58
ART_AND_DESIGN           57
COMICS                   55
BEAUTY                   53
Name: Category, dtype: int64

In [32]:
#more number of apps do not mean that the category is popular.
#we need to find the mean value by dividing it the number of installs.
dataset_final.groupby('Category')['Installs'].mean().sort_values(ascending=False)

Category
COMMUNICATION          3.845612e+07
VIDEO_PLAYERS          2.472787e+07
SOCIAL                 2.325365e+07
PHOTOGRAPHY            1.784011e+07
PRODUCTIVITY           1.678733e+07
GAME                   1.559451e+07
TRAVEL_AND_LOCAL       1.398408e+07
ENTERTAINMENT          1.164071e+07
TOOLS                  1.080139e+07
NEWS_AND_MAGAZINES     9.549178e+06
BOOKS_AND_REFERENCE    8.767812e+06
SHOPPING               7.036877e+06
PERSONALIZATION        5.201483e+06
WEATHER                5.074486e+06
HEALTH_AND_FITNESS     4.188822e+06
MAPS_AND_NAVIGATION    4.056942e+06
FAMILY                 3.701608e+06
SPORTS                 3.638640e+06
ART_AND_DESIGN         1.986335e+06
FOOD_AND_DRINK         1.924898e+06
EDUCATION              1.833495e+06
BUSINESS               1.712290e+06
LIFESTYLE              1.437816e+06
FINANCE                1.387692e+06
HOUSE_AND_HOME         1.331541e+06
DATING                 8.540288e+05
COMICS                 8.176573e+05
AUTO_AND_VEHICLES      6.473178e+05
LIBRARIES_AND_DEMO     6.385037e+05
PARENTING              5.426036e+05
BEAUTY                 5.131519e+05
EVENTS                 2.535422e+05
MEDICAL                1.205506e+05
Name: Installs, dtype: float64

In [33]:
#We have found out the most popular category is the Communication category. but will it be most profitable?
# Let's check this out!
comm_category = dataset_final[dataset_final['Category']=='COMMUNICATION']

In [34]:
comm_category[['App','Installs']].sort_values('Installs',ascending = False)

                                            App    Installs
381                          WhatsApp Messenger  1000000000
468               Skype - free IM & video calls  1000000000
382    Messenger – Text and Video Chat for Free  1000000000
451                                       Gmail  1000000000
411                Google Chrome: Fast & Secure  1000000000
...                                         ...         ...
9455                               EJ messenger          10
9648                                  EO Mumbai          10
10169                        Test Server SMS FA           5
6399                     Of the wall Arapaho bk           5
5921                                   BA SALES           1

[287 rows x 2 columns]

Does the company want to go in competition with WhatsApp, Skype, and Messenger. If yes, then they should build the app in communication category otherwise, I as a data scientist will not suggest app in this category.

In [35]:
#The next popular category is Video_Player. Let's check this out 
vp_category = dataset_final[dataset_final['Category']=='VIDEO_PLAYERS']
vp_category[['App','Installs']].sort_values('Installs',ascending = False)

                                  App    Installs
3665                          YouTube  1000000000
3687          Google Play Movies & TV  1000000000
3711                        MX Player   500000000
3675                  VLC for Android   100000000
3672                 Motorola Gallery   100000000
...                               ...         ...
5985                           Bc Vod         100
6950                       Bx-WiFi-GI         100
6153   BG MUSIC PLAYER - MUSIC PLAYER         100
10519               Art of F J Taylor          10
7394                        CI Stream          10

[159 rows x 2 columns]

Again, this category contains industry giants so it will not be profitable for the compete with them. Let's check out the next category.

In [36]:
social_category = dataset_final[dataset_final['Category']=='SOCIAL']
social_category[['App','Installs']].sort_values('Installs',ascending = False)

                            App    Installs
2544                   Facebook  1000000000
2554                    Google+  1000000000
2604                  Instagram  1000000000
2610                   Snapchat   500000000
2546              Facebook Lite   500000000
...                         ...         ...
7147                  CB Heroes           5
7712   C.P. CERVANTES (TOBARRA)           5
10101                 Amleen Ey           1
6257                 BH Connect           1
7434              Pekalongan CJ           0

[236 rows x 2 columns]

Again same situation! The best way to analyze the data would be to remove the industry giants from the dataset and then check out which category is popular.

In [37]:
dataset_final = dataset_final[dataset_final['Installs'] < 1000000000]

In [38]:
dataset_final.groupby('Category')['Installs'].mean().sort_values(ascending=False)

Category
COMMUNICATION          1.792493e+07
GAME                   1.444985e+07
PHOTOGRAPHY            1.406257e+07
PRODUCTIVITY           1.392915e+07
VIDEO_PLAYERS          1.230402e+07
ENTERTAINMENT          1.164071e+07
SOCIAL                 1.067752e+07
TOOLS                  9.480699e+06
SHOPPING               7.036877e+06
NEWS_AND_MAGAZINES     5.539256e+06
PERSONALIZATION        5.201483e+06
WEATHER                5.074486e+06
TRAVEL_AND_LOCAL       4.364410e+06
HEALTH_AND_FITNESS     4.188822e+06
MAPS_AND_NAVIGATION    4.056942e+06
SPORTS                 3.638640e+06
BOOKS_AND_REFERENCE    3.523197e+06
FAMILY                 3.106803e+06
ART_AND_DESIGN         1.986335e+06
FOOD_AND_DRINK         1.924898e+06
EDUCATION              1.833495e+06
BUSINESS               1.712290e+06
LIFESTYLE              1.437816e+06
FINANCE                1.387692e+06
HOUSE_AND_HOME         1.331541e+06
DATING                 8.540288e+05
COMICS                 8.176573e+05
AUTO_AND_VEHICLES      6.473178e+05
LIBRARIES_AND_DEMO     6.385037e+05
PARENTING              5.426036e+05
BEAUTY                 5.131519e+05
EVENTS                 2.535422e+05
MEDICAL                1.205506e+05
Name: Installs, dtype: float64

In [39]:
#We have already excluded communication category so let's look into game category.
game_category = dataset_final[dataset_final['Category']=='GAME']
game_category[['App','Installs']].sort_values('Installs',ascending = False)

                                 App   Installs
1966                Candy Crush Saga  500000000
1908                  My Talking Tom  500000000
1885                             Pou  500000000
1920                    Temple Run 2  500000000
1879                  Clash of Clans  100000000
...                              ...        ...
10002            Ew, the small alien         10
7727        CQ: Lost In Transmission         10
8580                    DM Adventure         10
6700                Brick Breaker BR          5
5855   Ay Vamos - PJ. Balvin - Piano          5

[860 rows x 2 columns]


After all the data analysis, I recommend the company to introduce the app in the 'GAME' category. Now we need to look deep into this category to find which type of game will be most profitable for the company.

In [40]:
game_category.head()

,App,Category,Rating,Reviews,Size,Installs,Content Rating,Genres,Last Updated,Current Ver,Android Ver
1879,Clash of Clans,GAME,4.6,44893888.0,98M,100000000,Everyone 10+,Strategy,"July 15, 2018",10.322.16,4.1 and up
1878,Clash Royale,GAME,4.6,23136735.0,97M,100000000,Everyone 10+,Strategy,"June 27, 2018",2.3.2,4.1 and up
1966,Candy Crush Saga,GAME,4.4,22430188.0,74M,500000000,Everyone,Casual,"July 5, 2018",1.129.0.2,4.1 and up
1908,My Talking Tom,GAME,4.5,14892469.0,Varies with device,500000000,Everyone,Casual,"July 19, 2018",4.8.0.132,4.1 and up
1871,8 Ball Pool,GAME,4.5,14201891.0,52M,100000000,Everyone,Sports,"July 31, 2018",4.0.0,4.0.3 and up

In [41]:
game_category['Genres'].unique()

array(['Strategy', 'Casual', 'Sports', 'Action', 'Adventure', 'Racing',
       'Arcade', 'Trivia', 'Puzzle', 'Role Playing', 'Casino', 'Card',
       'Word', 'Board', 'Simulation', 'Music',
       'Action;Action & Adventure'], dtype=object)

In [42]:
game_category.groupby('Genres')['Installs'].mean().sort_values(ascending=False)

Genres
Casual                       9.268182e+07
Sports                       5.266667e+07
Puzzle                       2.740909e+07
Strategy                     2.714667e+07
Arcade                       1.689382e+07
Racing                       1.591065e+07
Simulation                   1.300000e+07
Action                       1.260359e+07
Action;Action & Adventure    1.000000e+07
Music                        9.445583e+06
Word                         9.094459e+06
Role Playing                 8.454545e+06
Adventure                    4.922785e+06
Board                        4.759209e+06
Card                         3.815462e+06
Trivia                       3.475713e+06
Casino                       3.427911e+06
Name: Installs, dtype: float64

# Recommended App: Casual Game
After all the data analysis, I recommend the company to introduce the app in the 'Game' Category with 'Casual' genre.